<!DOCTYPE html>
<html>
    <%- include('../partials/header.ejs') %>

 
    
    <div class="govuk-width-container ">
      <%- include('../partials/banner.ejs') %>
      <main class="govuk-main-wrapper " id="main-content" role="main">       
        <form action="/homepage" method="POST" > 
       <div class="govuk-breadcrumbs ">
         <ol class="govuk-breadcrumbs__list">
           <li class="govuk-breadcrumbs__list-item">
             <a class="govuk-breadcrumbs__link" href="/Home">Home</a>
           </li>
           <li class="govuk-breadcrumbs__list-item">
             <a class="govuk-breadcrumbs__link" href="/Searchsubsidyaward">Search subsidy awards</a>
           </li>
         </ol>
       </div>
     

     
       <table class="govuk-table">
        <caption class="govuk-table__caption">Search results shown below</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Award No</th>
            <th scope="col" class="govuk-table__header app-custom-class">beneficiary Name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Subsidy Amount</th>
            <th scope="col" class="govuk-table__header app-custom-class">Spending Sector</th>
            <th scope="col" class="govuk-table__header app-custom-class">Granting Authority</th>
            <th scope="col" class="govuk-table__header app-custom-class">Granting Date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% searchawards.awards.forEach(function(item) { %>
            <tr>
              <td class="govuk-table__cell"><%= item.awardNumber %></td>
              <td class="govuk-table__cell"><%= item.beneficiary.beneficiaryName  %></td>
              <td class="govuk-table__cell"><%= item.subsidyFullAmountExact %></td> 
              <td class="govuk-table__cell"><%= item.spendiingSector %></td> 
              <td class="govuk-table__cell"><%= item.gratingAuthority.grantingAuthorityName %></td> 
              <td class="govuk-table__cell"><%= item.legalGrantingDate%></td> 
             
            </tr>
  
            <% } ); %>
   
        </tbody>
      </table>
        
        <div>
        
            <button class="govuk-button" data-module="govuk-button">
            Try another search </button>
              
        </div>
      </form>  

      </main>
    </div>

      <%- include('../partials/footer.ejs') %>

</html>
    